.top-bar {
    background-color: #BD4543;
    height: 150px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .top-bar__logo {
    width:2rem;
    height: 1rem;
    /* background-size: cover; */
  }

  .leb-text {
    color:White;
  }