.top-bar {
    background-color: #BD4543;
    height: 150px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .top-bar img {
    width:6rem;
    height:6rem;
    border-radius:50px
  }

  .leb-text {
    color:White;
    font-size:40px;
    margin-Left:20px;
  }

  .talk-text {
    color:#E1943C;
  }

 

  