  button {
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 24px;
      font-weight: 900;
      font-family: "Nunito";
      text-transform: uppercase;
      height: 50px;
  }
  
  .button-primary {
    background-color: #BD4543;
    cursor:pointer;
  }
  
  .button-secondary {
    background-color: #c49291;
  }
  
  .button-big {
    width: 25rem;
    margin-left:25px;
    margin-top:25px
  }
  
  .button-small {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .button-big {
      width: 75%;
    }
  }
  
  @media only screen and (max-width: 1300px) {
    .button-small {
      font-size: 16px;
    }
  }